#asset__revisions img, #asset__revisions svg { max-height: 75px; }

#asset__revisions p { margin: 0; }

.asset__container { padding: 30px 0; }
.asset__container img { max-height: 400px; }
.asset__container img, .asset__container embed { margin: 0 auto; }

.notifications--meta-fields {
    background: #fff; border-radius: var(--large-border-radius);
    box-shadow: 0 0 0 1px rgba(19,26,32,.15), 0 2px 12px rgba(19,26,32,.15);
    display: flex; padding: 10px 14px; position: relative; margin-bottom: 20px;
}

.notifications--meta-fields .notification-body { display: flex; flex: 1; }
.notifications--meta-fields .notification-icon {
    margin-right: 10px; color: red; font-size: 18px;
    margin-top: -2px; width: 18px;
}

.notifications--meta-fields .notification-message {
    font-weight: 700; overflow-wrap: anywhere; word-break: normal;
}
